:root {
  --primary-color: #ffd6e0;
  --secondary-color: #d77fc1;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 150px 150px;
  font-family: poppings;
}

.hero h1 {
  font-size: 96px;
  line-height: 1;
}

h3 {
  font-size: 88px;
  font-weight: bold;
}

.surname {
  text-align: left;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: -120px;
}

.button {
  background-color: var(--secondary-color);
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  line-height: 5;
  font-size: 20px;
  border-radius: 4px;
}

.button :hover {
  color: black;
}

.hero p {
  font-size: 24px;
}

.jasonVorhees {
  max-width: 200px;
}

.duties {
  max-height: 250px;
}

.weatherApp {
  max-width: 100px;
}
